# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Environment variables
.env
.env.*.local
!.env.example

# Firebase cache
.firebase/

# Coverage and reports
coverage/
.nyc_output
*.lcov
*.tsbuildinfo

# Caches
.cache/
.parcel-cache/
.vitepress/
.svelte-kit/
.vscode/
.idea/
.eslintcache
.stylelintcache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Output of 'npm pack'
*.tgz

# Optional REPL history
.node_repl_history

# OS files
.DS_Store

# VS tooling
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?